{% extends "layout.html"%} {% block content%}
<form class="form" action="\" method="post">
    <h3 class="text-center ">Hey there!
    </h3>

    <label for="username" class="text-info"></label><br />
    <input required="required" type="text" name="username" id="username" placeholder="Your name" class="form-control" />


    <label for="email" class="text-info"></label><br />
    <input required="required" type="email" name="email" placeholder="Your email" id="email" class="form-control" />

    <br />
    <input type="submit" name="submit" id="Start-btn" class="btn" value="Start" />
    </div>

</form> {% endblock content%}